main {
    margin-top: 40px;
}

h1 {
    background-color: red;    
}
h2 {
    background-color: #42f2f5;
}
h3 {
    background-color: #e6e6e6;
}


h1, h2, h3 {
    padding: 10px 20px;
}
.nav-tabs li {
    width: 50%;
    color: black;
}
.nav-tabs li a {
    background-color: #ccc;
    color: #000;
    display: block;
    padding: 15px;
    text-align: center;
}
.nav-tabs li.active a {
    background-color: red;
}